@media only screen and (max-width: 600px) {
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    body{
        height: 100%;
    }
    #root{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
    }
    nav{
        width: 100vw;
        height: 50px;
        background-color: black;
        font-size: 18px;
    }
    ul{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        list-style: none;
    }
    header{
        padding-top: 50px;
        width: 90vw;
        height: 1200px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        border-radius: 15px;
        animation: moveAnim ease-in .8s forwards;
    }
    a{
        color:whitesmoke;
        text-decoration: none;
    }
    img{
        width: 90%;
        height: 90%;
        border-radius: 15px;
    }

    // ** Animation Header **

    @keyframes moveAnim{
        from {transform: translateX(-600px)}
        to {transform: translateX(0px)}
    }

}

  
